[submodule "Core"]
	path = Core
	url = https://github.com/islandcontroller/mculib-core-armcm
[submodule "Peripheral"]
	path = Peripheral
	url = https://github.com/islandcontroller/mculib-peripheral-stm32g4xx
